div {
  text-align: center;
  font-size: x-large;
}
img {
  display: block;
  margin: 0 auto;
  width: 18%;
}
.error-output {
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
  color: red;
}
.error-text {
  font-size: large;
}
